@{
    ViewData["Title"] = "Scan";
}

<h1>Scan RBID</h1>

<form asp-action="Delete" method="get">
    <input type="text" name="rbId" placeholder="Scan or Enter RBID" />
    <button type="submit">Search</button>
</form>